{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block main %}
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolores enim illum minima quas reprehenderit sit unde. Explicabo iste, voluptatibus. Ducimus, eos esse exercitationem id ipsa ipsam officia sit voluptatibus. </p>
    </main>
{% endblock %}
